<article class="file">
  <div class="row align-items-center">
    <div class="col-2 progress">
      <div>
        <svg class="svg" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" r="42" cx="50%" cy="50%" fill="transparent" stroke-dasharray="0"></circle>
          <circle class="bar" r="42" cx="50%" cy="50%" fill="transparent" stroke-dasharray="ipfs.fileProgressPerimeter" [style.stroke-dashoffset]="pctg"></circle>
        </svg>
      </div>
    </div>
    <div class="col-6 content">
      <div>
        <h6>DOCUMENT</h6>
        <span class="name">{{ name }}</span>
        <nav>
          <div [innerHtml]="ipfsLink"></div>
        </nav>
      </div>
    </div>
    <div class="col-4 actions">
      <div>
        <h6>Status</h6>
        <span class="status text-capitalize">{{ status }}</span>
        <nav>
          <a [routerLink]="['/documents', ipfsHash, 'request-signatures']" class="btn btn-sm btn-primary">Request signatures</a>
        </nav>
      </div>
    </div>
  </div>
</article>
