<article class="file">
  <div class="row align-items-center">
    <div class="col-2 progress">
      <div>
        <svg class="svg" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" r="42" cx="50%" cy="50%" fill="transparent" stroke-dasharray="0"></circle>
          <circle class="bar" r="42" cx="50%" cy="50%" fill="transparent" [attr.stroke-dasharray]="ipfs.fileProgressPerimeter" [style.stroke-dashoffset]="pctg"></circle>
        </svg>
      </div>
    </div>
    <div class="col-6 content">
      <div>
        <h6>DOCUMENT</h6>
        <span class="name">{{ name }}</span>
        <nav>
          <span class="remove-file" *ngIf="!streamEnded" (click)="shared.removeFiles([ipfsHash])">remove</span>
          <!-- <span class="remove-file" *ngIf="streamEnded" (click)="shared.cancelUpload(index)">cancel upload</span> -->
          <em class="still-working" *ngIf="streamEnded">still working...</em>
          <span [innerHtml]="ipfsLink" *ngIf="!streamEnded"></span>
        </nav>
      </div>
    </div>
    <div class="col-4 actions" *ngIf="!isUploading && !streamEnded">
      <div>
        <h6>Status</h6>
        <span class="status text-capitalize">{{ status }}</span>
        <nav>
          <a
            *ngIf="isUploaded()"
            [routerLink]="['/documents', ipfsHash, 'request-signatures']"
            class="btn btn-sm btn-primary">Request signatures</a>
          <a
            *ngIf="isPublished()"
            [routerLink]="['/documents', ipfsHash, 'sign']"
            class="btn btn-sm btn-primary">See document</a>
          <a
            *ngIf="isSigned()"
            [routerLink]="['/documents', ipfsHash, 'sign']"
            class="btn btn-sm btn-primary">See document</a>
        </nav>
      </div>
    </div>
  </div>
</article>
