<aside id="document-actions">
  <div class="container-fluid">
    <article>
      <h6>DOCUMENT ACTIONS</h6>
      <button class="btn btn-primary btn-block" [disabled]="isSigned()" (click)="onSignDocument()">Sign</button>
    </article>
    <article>
      <h6>DOCUMENT INFO</h6>
      <small>IPFS location</small>
      <a href="{{ ipfs.gatewayURL }}/{{ docId }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ docId }}</a>
      <small>Creator</small>
      <a href="{{ eth.networkURL }}/address/{{ creator.ETHAddress }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ creator.ETHAddress }}</a>
      <small>Name</small>
      <p>{{ currentFile.name }}</p>
      <!-- <small>Last modified</small>
      <p>{{ lastModified }}</p>
      <small>Uploaded at</small>
      <p>{{ uploadedAt }}</p> -->
      <small>Status</small>
      <p class="capitalize">{{ currentFile.status }}</p>
    </article>
    <!-- <article>
      <h6>EXPIRATION DATE</h6>
    </article> -->
    <article>
      <h6>SIGNERS</h6>
      <div class="signer" *ngFor="let signer of signers">
        <small>ETH Address</small>
        <a href="{{ eth.networkURL }}/address/{{ signer.ETHAddress }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ signer.ETHAddress }}</a>
        <small>Email</small>
        <p>{{ signer.email }}</p>
        <small>Status</small>
        <p class="text-capitalize">{{ signer.status }}</p>
        <div *ngIf="signer.tx">
          <small>Signature</small>
          <a href="{{ eth.networkURL }}/tx/{{ signer.tx }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ signer.tx }}</a>
        </div>
      </div>
    </article>
  </div>
</aside>
