<main class="site-wrapper" role="main" id="missing-metamask">
  <div class="container-md">
    <h1>Missing Metamask Extension</h1>
    <div class="img mb-40">
      <img src="assets/img/metamask.svg" alt="MetaMask Logo" style="width: 210px; height: auto">
    </div>
    <h4>Hey! Welcome to CanSign by <a href="https://canya.com" target="_blank">CanYa</a>!</h4>
    <h5>CanSign allows you to sign documents straight to the blockchain and in order to do this, you need a browser wallet.</h5>
    <nav class="mt-30">
      <a href="{{ extensionURL }}" class="btn btn-lg btn-success" target="_blank">Install Metamask extension</a>
    </nav>
  </div>
</main>
