@import "./src/assets/sass/cansign";

@import "./src/assets/sass/common/dropzone-component";
@import "./src/assets/sass/common/files-list-component";
@import "./src/assets/sass/common/file-component";

body {
  position: relative;
}

.site-wrapper {
  background-color: $gray-100;
  padding-bottom: 112px;
  padding-top: 112px;
  min-height: 100vh;
}
