<div class="modal" *ngIf="display">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="modal-body" *ngIf="onBeforeSign">
          <h4>{{ 'important' | translate }}</h4>
          <small [innerHTML]="'documents-request.connected-to' | translate:{ network: eth.networkType, address: eth.ETHAddress }"></small>
          <p class="mt-3" [innerHTML]="'documents-sign.by-signing' | translate:{ name: currentFile.name }"></p>
          <ul>
            <li>{{ 'documents-sign.create-record' }} <a href="{{ eth.networkURL }}/address/{{ eth.contractAddress }}" target="_blank" class="text-truncate d-inline-block" style="width: 120px; margin-bottom: -9px;">{{ eth.contractAddress }}</a></li>
          </ul>
          <nav class="mt-3">
            <button class="btn btn-primary" (click)="onSignDocument()">{{ 'documents-sign.confirm-and-sign' | translate }}</button>
            <button class="btn btn-danger btn-outline" (click)="reset()">{{ 'cancel' | translate }}</button>
          </nav>
        </div>
        <div class="modal-body" *ngIf="onSigning">
          <h4>{{ 'waiting-for-confirmation' | translate }}</h4>
          <div class="spinner-wrapper">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" r="42" cx="50%" cy="50%" fill="transparent" stroke-dasharray="0"></circle>
              <circle class="bar" r="42" cx="50%" cy="50%" fill="transparent" stroke-dasharray="263.89" [style.stroke-dashoffset]="15"></circle>
            </svg>
          </div>
        </div>
        <div class="modal-body" *ngIf="onError">
          <h4>{{ 'there-was-an-error' | translate }}</h4>
          <nav>
            <button class="btn btn-danger btn-outline" (click)="reset()">{{ 'close' | translate }}</button>
          </nav>
        </div>
        <div class="modal-body" *ngIf="onAfterSigning">
          <h4>{{ 'all-set' | translate }}</h4>
          <h5>{{ 'documents-sign.signed-in-tx' | translate }} <a href="{{ eth.networkURL }}/tx/{{ tx }}" target="_blank" class="text-truncate d-inline-block" style="width: 120px; margin-bottom: -9px;">{{ tx }}</a></h5>
          <nav>
            <button class="btn btn-danger btn-outline" (click)="reset()">{{ 'close' | translate }}</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
