<app-about-modal></app-about-modal>

<canyalib-header
  [logo]="{ src: 'assets/img/CanSign.svg', alt: 'CanSign Logo', routerLink: ['/documents/index'] }"
  [buttons]="[{ index: 0, innerHtml: 'header.about', class: 'btn btn-primary btn-sm', onClick: [shared, 'displayAboutModal'] }]">
  </canyalib-header>

<canyalib-language-switch [exclude]="[]"></canyalib-language-switch>

<router-outlet></router-outlet>

<div id="bancor-wc" class="mb-60"></div>

<app-cards></app-cards>

<section class="section shadow-1" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
  <div class="container text-center">
    <img src="assets/img/telegram.png" alt="CanYa - telegram" width="auto" height="100px">
    <h4 class="text-white pt-25">Got another question? Ask our active community on Telegram.</h4>
    <br>
    <a href="https://t.me/canyacoin" target="_blank" class="btn btn-lg btn-primary shadow-3">Join us on Telegram</a>
  </div>
</section>

<canyalib-footer></canyalib-footer>
