<aside id="document-actions">
  <div class="container-fluid">
    <article>
      <h6>{{ 'document-actions' | translate }}</h6>
      <div>
        <!-- <h6>NOTIFICATION EMAIL</h6> -->
        <label for="">{{ 'your-email' | translate }}</label>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="yourname@email.com" [(ngModel)]="creator.email">
          <div class="input-group-append">
            <button class="btn btn-success" (click)="addNotificationEmail()" id="btn-add-email">{{ 'add' | translate }}</button>
          </div>
        </div>
        <p *ngIf="!isValidCreatorEmail" class="on-error">{{ invalidCreatorEmailMessage | translate  }}</p>
      </div>
      <nav class="mt-3">
        <button class="btn btn-success btn-block btn-sm mb-3" (click)="shared.openAddSignerModal()">{{ 'documents-request.add-signer' | translate }}</button>
        <button class="btn btn-outline-success btn-block btn-sm" (click)="shared.openSignersListModal()">{{ 'documents-request.view-signers' | translate }}</button>
      </nav>
    </article>
    <article>
      <h6>{{ 'document-info' | translate }}</h6>
      <small>{{ 'ipfs-location' | translate }}</small>
      <a href="https://ipfs.io/ipfs/{{ currentFile.hash }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ currentFile.hash }}</a>
      <small>{{ 'creator' | translate }}</small>
      <a href="{{ eth.networkURL }}/address/{{ eth.ETHAddress }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ eth.ETHAddress }}</a>
      <small>{{ 'name' | translate }}</small>
      <p>{{ currentFile.name }}</p>
      <small>{{ 'last-modified' | translate }}</small>
      <p>{{ moment(currentFile.lastModified).format('dddd, MMMM Do YYYY') }}</p>
      <small>{{ 'uploaded-at' | translate }}</small>
      <p>{{ moment(currentFile.uploadedAt).format('dddd, MMMM Do YYYY') }}</p>
      <small>{{ 'status' | translate }}</small>
      <p class="capitalize">{{ currentFile.status | translate }}</p>
    </article>
    <article>
      <div>
        <button class="btn btn-primary btn-block" (click)="openPublishDocumentModal()">{{ 'request-signatures' | translate }}</button>
        <p *ngIf="!canRequestSignatures" class="on-error">{{ onRequestSignaturesFailMessage | translate }}</p>
      </div>
    </article>
    <!-- <article>
      <h6>EXPIRATION DATE</h6>
      <div class="input-group">
        <input type="date" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-success" (click)="addExpirationDate()">Add</button>
        </div>
      </div>
    </article> -->
  </div>
</aside>
