<aside id="document-actions">
  <div class="container-fluid">
    <article>
      <h6>DOCUMENT ACTIONS</h6>
      <div>
        <button class="btn btn-primary btn-block" (click)="openPublishDocumentModal()">Request signatures</button>
        <p *ngIf="!canRequestSignatures" class="on-error">{{ onRequestSignaturesFailMessage }}</p>
      </div>
      <nav class="row mt-3">
        <div class="col-sm-6">
          <button class="btn btn-dark btn-block btn-sm" (click)="shared.openAddSignerModal()">Add signer</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-outline-dark btn-block btn-sm" (click)="shared.openSignersListModal()">View signers</button>
        </div>
      </nav>
    </article>
    <article>
      <h6>DOCUMENT INFO</h6>
      <small>IPFS location</small>
      <a href="https://ipfs.io/ipfs/{{ currentFile.hash }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ currentFile.hash }}</a>
      <small>Creator</small>
      <a href="{{ eth.networkURL }}/address/{{ eth.ETHAddress }}" target="_blank" class="text-truncate d-block" style="width: 280px;">{{ eth.ETHAddress }}</a>
      <small>Name</small>
      <p>{{ currentFile.name }}</p>
      <small>Last modified</small>
      <p>{{ moment(currentFile.lastModified).format('dddd, MMMM Do YYYY') }}</p>
      <small>Uploaded at</small>
      <p>{{ moment(currentFile.uploadedAt).format('dddd, MMMM Do YYYY') }}</p>
      <small>Status</small>
      <p class="capitalize">{{ currentFile.status }}</p>
    </article>
    <article>
      <h6>NOTIFICATION EMAIL</h6>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="creator@email.com" [(ngModel)]="creator.email">
        <div class="input-group-append">
          <button class="btn btn-dark" (click)="addNotificationEmail()" id="btn-add-email">Add</button>
        </div>
      </div>
      <p *ngIf="!isValidCreatorEmail" class="on-error">{{ invalidCreatorEmailMessage }}</p>
    </article>
    <!-- <article>
      <h6>EXPIRATION DATE</h6>
      <div class="input-group">
        <input type="date" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-dark" (click)="addExpirationDate()">Add</button>
        </div>
      </div>
    </article> -->
  </div>
</aside>
