<div class="modal" *ngIf="display">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="modal-body" *ngIf="onAddSigner">
          <h2>{{ 'documents-request.add-a-signer' | translate }}</h2>
          <hr class="mt-0">

          <div id="new-signer-form">
            <fieldset class="form-group">
              <label for="signerEthAddress">{{ 'documents-request.signer-eth-address' | translate }}</label>
              <input type="text" name="signerEthAddress" class="form-control" [(ngModel)]="signer.ETHAddress">
              <p class="on-error" *ngIf="!isValidSignerAddress">{{ invalidSignerAddressMessage | translate }}</p>
            </fieldset>
            <fieldset class="form-group">
              <label for="signerEmail">{{ 'documents-request.signer-email' | translate }}</label>
              <input type="text" name="signerEmail" class="form-control" [(ngModel)]="signer.email">
              <p class="on-error" *ngIf="!isValidSignerEmail">{{ invalidSignerEmailMessage | translate }}</p>
            </fieldset>
          </div>

          <nav>
            <button class="btn btn-success" (click)="addSigner()">{{ 'documents-request.add-signer' | translate }}</button>
            <button class="btn btn-outline-danger" (click)="display = false">{{ 'cancel' | translate }}</button>
          </nav>
        </div>
        <div class="modal-body" *ngIf="onSignersList">
          <h2>{{ 'signers' | translate }}</h2>
          <hr class="mt-0">

          <div class="row">
            <div class="col-5">
              <small>{{ 'eth-address' | translate }}</small>
            </div>
            <div class="col-5">
              <small>{{ 'email' | translate }}</small>
            </div>
            <div class="col-2">
              <small class="text-capitalize">{{ 'remove' | translate }}</small>
            </div>
          </div>

          <div class="row signer" *ngFor="let signer of signers">
            <div class="col-5">
              <a href="{{ eth.networkURL }}/address/{{ signer.ETHAddress }}" target="_blank" class="text-truncate d-block" style="width: 180px;">{{ signer.ETHAddress }}</a>
            </div>
            <div class="col-5">
              <p>{{ signer.email }}</p>
            </div>
            <div class="col-2">
              <span class="remove-signer text-capitalize" (click)="removeSigner(signer)">{{ 'remove' | translate }}</span>
            </div>
          </div>

          <nav class="mt-3">
            <button class="btn btn-success" (click)="shared.openAddSignerModal()">{{ 'documents-request.add-signer' | translate }}</button>
            <button class="btn btn-outline-dark" (click)="display = false">{{ 'close' | translate }}</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
