<div class="modal" *ngIf="display">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="modal-body" *ngIf="onSignatureDenial">
          <h4>{{ 'forbidden' | translate }}</h4>
          <h5 class="mt-3">{{ 'documents-sign.not-allowed' | translate }}:</h5>
          <ul>
            <li>{{ 'documents-sign.unmatched-address' | translate }}</li>
            <li>{{ 'documents-sign.unmatched-signers' | translate }}</li>
          </ul>
          <nav class="mt-3">
            <button class="btn btn-danger btn-outline" (click)="exit()">{{ 'exit' | translate }}</button>
          </nav>
        </div>
        <div class="modal-body" *ngIf="onSignatureExists">
          <h4>{{ 'forbidden' | translate }}</h4>
          <h5 class="mt-3">{{ 'documents-sign.already-signed' | translate }}</h5>
          <nav class="mt-3">
            <button class="btn btn-outline-dark" (click)="display = false">{{ 'close' | translate }}</button>
          </nav>
        </div>
        <div class="modal-body" *ngIf="onSignerIsCreator">
          <h4>{{ 'forbidden' | translate }}</h4>
          <h5 class="mt-3">{{ 'documents-sign.is-document-creator' | translate }}</h5>
          <nav class="mt-3">
            <button class="btn btn-outline-dark" (click)="display = false">{{ 'close' | translate }}</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
