.file {
  background-color: white;
  .progress,
  .content,
  .status {
    // min-height: 112px;
    > div {
      // padding: get-spacer(3);
    }
  }
  .progress {
    @include flex-align-center;
    // flex-basis: 70px;
    // width: 70px;
  }
  .content {
    border-right: 1px solid $gray-300;
    h6 {
      color: $gray-500;
      margin: 0;
    }
    nav {
      margin-top: get-spacer(3);
    }
  }
  .name {
    font-size: $h5-font-size;
    font-weight: $bold;
    display: block;
  }
  .link {
    font-size: $font-size-sm;
    display: inline-block;
    margin-bottom: -8px;
    width: 120px;
  }
  .link-placeholder {
    font-size: $font-size-sm;
    color: $gray-300;
  }
  .copy {
    border-radius: $border-radius-sm;
    transition: all 0.2s ease-in-out;
    background-color: $gray-300;
    font-size: $font-size-sm;
    padding: 1px 7px;
    color: white;
    &:hover {
      @include box-shadow-default;
      background-color: $gray-500;
      cursor: pointer;
    }
    &.copied {
      background-color: $green;
    }
  }

  .actions {
    h6 {
      color: $gray-500;
      margin: 0;
    }
    .status {
      display: block;
    }
    nav {
      margin-top: get-spacer(3);
    }
  }

  .svg {
    height: 100%;
    width: 100%;
    circle {
      transition: stroke-dashoffset 1s linear;
      stroke-dashoffset: 0;
      stroke-width: 5px;
      stroke: $gray-100;
    }
    .bar {
      stroke: theme-color('primary');
    }
  }
}
